html,
.mainContainer {
    background-color: black;
}


/*Styling for Login Form*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
/*Styling for resources dropdown*/
.linkTextHover:hover {
    cursor: pointer;
}
